<!-- Footer -->
<footer class="footer">
    <div class="container text-center">
      <span class="text-muted">© Hecho por Jonathan Leal 2023.</span>
      <div class="social-links">
        <!-- Agregar iconos de redes sociales -->
        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        <!-- Agregar más enlaces a redes sociales según sea necesario -->
      </div>
    </div>
  </footer>
