{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3">
        <h1 class="text-center mb-5">Bienvenido a mi Planilla de pagos</h1>

        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card h-100 custom-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <i class="fas fa-star fa-3x text-primary mb-4"></i>
                        <h5 class="card-title text-center mb-3">La mejor</h5>
                        <p class="card-text text-center">Planilla limpia y ordenada.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card h-100 custom-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <i class="fas fa-heart fa-3x text-danger mb-4"></i>
                        <h5 class="card-title text-center mb-3">Decente</h5>
                        <p class="card-text text-center">Tus pagos llegan a tiempo</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card h-100 custom-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <i class="fas fa-gem fa-3x text-success mb-4"></i>
                        <h5 class="card-title text-center mb-3">Confiable</h5>
                        <p class="card-text text-center">Se te paga hasta el ultimo centavo</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card h-100 custom-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <i class="fas fa-leaf fa-3x text-warning mb-4"></i>
                        <h5 class="card-title text-center mb-3">Mejorable</h5>
                        <p class="card-text text-center">Lo mejor es que esta dispuesta a actualizaciones</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
